/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.top-players{
    margin-bottom: 30px;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players style  */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 16px;
}
/* top blogs styles  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* latest courses  */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
   border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course .course-banner img{
    width: 224px;
    height: 104px;  

}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: rgb(243, 162, 176);
    color: rgb(185, 68, 88);
    padding: 10px 20px;
    border: 5px;
    border-radius: 15px;
}
/*---------------
 media queries 
 --------------- */
 /* mobile devices  */
 @media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
       
        grid-template-columns: repeat(1, 1fr);
    }
    .course .blogs{
        margin-bottom: 50px ;
    }
    .player .blog{
        flex-direction: column;
    }
    
}
/* tablet devices */
@medis only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}

